<?xml version="1.0" encoding="UTF-8"?>
<server description="Test Server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint" httpPort="8080" httpsPort="8443">
        <accessLogging filePath="${server.output.dir}/logs/access.log" 
                       logFormat='%h %i %u %t "%r" %s %b'/>
    </httpEndpoint>

    <httpDispatcher enableWelcomePage="false"/>
    <webApplication id="root-context" location="rest-demo.war" context-root="/"/>
</server>
